
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 .menum{
      font-size: 12px;
      font-weight: bold;
      color: white;
      font-weight: bold;
      font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
    }
    .menum ul.menu-horizontal {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      background-color: white;
      /*background-color: white; */
      color: red;
      border-radius: 10px 62px 65px 10px;
      -webkit-border-radius: 10px 62px 65px 10px;
      -moz-border-radius: 10px 62px 65px 10px; 
      border: 1px solid black;
    }

    .menum ul.menu-horizontal li {
      position: relative;
    }

    .menum ul.menu-horizontal > li {
      padding: 10px;
    }

    .menum ul.menu-horizontal > li > a {
      display: block;
      padding: 10px 10px;
      color: black;
      text-decoration: none;
      border-radius: 10px 12px 65px 10px;
      -webkit-border-radius: 10px 62px 65px 10px;
      -moz-border-radius: 10px 62px 65px 10px;
      padding: 10px;  
    }

    .menum ul.menu-horizontal > li > a:hover {
      background-color: black;
      color: yellow;
      border: 1px solid #ff6550;
    }

    /* Submenús */
    .menum ul.submenu, ul.submenu-nivel2 {
      display: none;
      position: absolute;
      background-color: white;
      color: yellow;
      list-style: none;
      margin: 0;
      padding: 0;
      min-width: 300px;
      z-index: 1000;
      margin: 1px;
      /*border-radius: 10px 62px 65px 10px; */
      border: 1px solid #ccc;
    }

    .menum ul.submenu li a, ul.submenu-nivel2 li a {
      color: black;
      padding: 10px 15px;
      display: block;
      text-decoration: none;
      margin: 1px;
      /* width: auto; */
    }

    .menum ul.submenu li a:hover, ul.submenu-nivel2 li a:hover {
      background-color:green;
      color:white;
      border: 1px solid #ccc;
      padding: 10px;
    }

    /* Mostrar submenu al pasar el mouse */
    .menum ul.menu-horizontal li:hover > ul.submenu {
      display: block;
    }

    /* Submenú de segundo nivel */
    .menum ul.submenu li:hover > ul.submenu-nivel2 {
      display: block;
      left: 100%;
      padding: 10px;
      top: 0;
    }
    i{
      margin-right: 5px;
    }