{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="MiEstilo.css">

<img src="{{url_for('static',filename='images/CGMLTIA.png')}}" alt="" class="src">
<div class="menum">
<ul class="menu-horizontal">
  <li><a><i class="fa fa-mortar-board"></i>APRENDIZ</a></li>
    <li><a href="/login"><i class="fas fa-landmark"></i>INICIO</a></li>
       <li><a href="/acerca"><i class="fa fa-list"></i> ACERCA</a></li>
  </ul>
</div>
</div>



    <div class="cpsi mx-auto" style="width:60%">
    <div style="width:70%;overflow:auto" class="w3-w3-green mx-auto">
        <br>
      <img loading="lazy" class="tabla" src="{{url_for('static',filename='images/cpsi.png')}}" style="border:true;width:95%; height: 200px;border-color:black;">
      <br> <hr>
      <b>
        <p >AUTORES (DESARROLLADORES)</p>
      <ul>
        <li>GABRIEL EDUARDO MASUTIER</li>
        <li>JOSE FERNANDO GALINDO SUAREZ</li>
      </ul>
      <BR>
      </b>
      <!-- <button class="btn btn-primary mx-auto" style="width:100%;" onclick="Voy()">ACEPTAR</button> -->
    </div>
    <br><br>
    
    <script>
        function Voy(){
        {% if regreso%}
        location.href="/login"
        {% else %}
        window.open("/login","xxx")
        {% endif %}
        }
        //setTimeout('Voy()',5000)
    </script>
 
{% endblock content %}