<center>

  <div class="sena" style="background-color: #015dca;padding-bottom: 0; height:40px;">
    
    <p style="text-align: left;">
    <img src="https://css.mintic.gov.co/mt/mintic/img/header_govco.png" alt="Gov Co" style="max-height: 20px;">
    </p>
  </div> 
    <p id="miFecha" style="text-align:right; color:rgb(185, 180, 180);"></p>
      
    <script>
      const hoy = new Date();
      const opciones = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      document.getElementById("miFecha").innerText = hoy.toLocaleDateString('es-ES', opciones);
    </script>
  <p style="text-align: left;"><img src="{{url_for('static',filename='images/senalogo.png')}}"></p>
  <p></p> 
  </div>
    

   
      
        
    