{% extends "base.html" %}
{% block content %}



{% if N==1 %}
{% if datos|length>0%}
<br>
<div class="sena d-flex justify-content-center align-items-center  mx-auto" style="width:40%;">
<table class="table table-striped ">
<th class="sena-sombra">INSTRUCTORES A EVALAUAR DE LA FICHA: {{datos[0][4]}}</th></tr>

{%for data in datos%}
<tr>
    <td>

    {% with im = url_for('static', filename='images/dni/' ~ data[1] ~ '.png') %}
<span style="cursor: pointer;" onclick="window.open('/evalua/2/{{data[1]}}','centro')">
<img class="ovalo" src="{{ im }}"
     onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/dni/silueta.png') }}';"
     style="width: 70px; border: 3px solid black;">

{{data[0]}}
</span>
   </td> 
    
    
     {% endwith %}
     </tr>
{%endfor%}
</table>

</div>
<br><br>
{%else%}
<div class="alert alert-danger" role="alert">
<h1>NO HAY INSTRUCTORES PARA EVALUAR</h1>
</div>
{% endif%}
{% endif%}
{% if N=="2" %}

<div class="sena d-flex justify-content-center align-items-center  mx-auto" style="width: 50%;padding-top: 20px;">
    <table class="table table-striped" style="width: 100%;">
        <tr>
            <td width=50% class="sena-sombra">
                PREGUNTAS A RESPONDER
            </td>
            <td width=50% class="sena-sombra">RESPUESTAS</td>
        </tr>
        <form action="/evalua/3/{{datos[2]}}" method="post">
      
{%for data in preg%}

            <tr>
                <input type="hidden" name="P{{loop.index}}" value="{{data[0]}}">
                <td>{{data[0]}}</td>
                <td><select name="R{{loop.index}}" style="width: 100%;">
                    {%for n in data[2].split(',')%}
                    <option value="{{n}}">{{n}}</option>
                    {%endfor%}
                    
                </select></td>
            </tr>
{%endfor%}
<tr>
    <td colspan="2">
        <input type="hidden" name="N" value="3">
        <input type="hidden" name="F" value="{{datos[1]}}">
        <input type="hidden" name="I" value="{{datos[2]}}">
        <input type="hidden" name="A" value="{{datos[3]}}">
        <input type="hidden" name=conta value="{{hay}}">
        
        <input type="submit" class="btn btn-primary ovalo" style="width:50%;" value="ENVIAR">
        <!-- <button class="btn btn-warning ovalo" style="width:50%;" onclick="','centro')">ENVIAR</button> -->
        <button type="button" class="btn btn-warning ovalo" style="width:49%;" onclick="window.open('/login','centro')">CANCELAR</button>

    </td>
</tr>
        </table>
        <br>
             </form>
     </div>
    <br><br>
{% endif%}

{%endblock%}