{% extends "base.html" %}
{% block content %}



{% if N==1 %}

<br>
<div class="sena d-flex justify-content-center align-items-center  mx-auto" style="width:50%;">
<table class="table table-striped ">
{%for data in datos%}
<th class="sena-sombra">INSTRUCTORES A EVALAUAR DE LA FICHA: {{datos[0][4]}}</th>
<th class="sena-sombra">ACCION</th>
</tr><tr>
    <td>
        {{data[0]}}
    </td>
    <td width="8%"><a href="/evalua/2/{{data[1]}}" title="Evaluar"><p><i class="btn btn-primary material-icons" style="text-align: top;">menu</i></a></p></td>
</tr>
{%endfor%}
</table>

</div>
<br><br>
{% endif%}
{% if N=="2" %}

<div class="sena d-flex justify-content-center align-items-center  mx-auto" style="width: 50%;padding-top: 20px;">
    <table class="table table-striped" style="width: 100%;">
        <tr>
            <td width=50% class="sena-sombra">
                PREGUNTAS A RESPONDER
            </td>
            <td width=50% class="sena-sombra">RESPUESTAS</td>
        </tr>
        <form action="/evalua/3/{{datos[2]}}" method="post">
      
{%for data in preg%}

            <tr>
                <input type="hidden" name="P{{loop.index}}" value="{{data[0]}}">
                <td>{{data[0]}}</td>
                <td><select name="R{{loop.index}}" style="width: 100%;">
                    {%for n in data[2].split(',')%}
                    <option value="{{n}}">{{n}}</option>
                    {%endfor%}
                    
                </select></td>
            </tr>
{%endfor%}
<tr>
    <td colspan="2">
        <input type="hidden" name="N" value="3">
        <input type="hidden" name="F" value="{{datos[1]}}">
        <input type="hidden" name="I" value="{{datos[2]}}">
        <input type="hidden" name="A" value="{{datos[3]}}">
        <input type="hidden" name=conta value="{{hay}}">
        
        <input type="submit" class="button btn-primary btn-block ovalo" style="width:100%;" value="ENVIAR">

    </td>
</tr>
        </table>
        <br>
             </form>
     </div>
    <br><br>
{% endif%}

{%endblock%}