{% extends "base.html" %}
{% block content %}
{{datos}}<br>------<br>{{apr}}
{% if N==1 %}

{% if datos|length>0%}
<br>
<div class="sena d-flex justify-content-center align-items-center  mx-auto" style="width:40%;">
<table class="table table-striped ">
<th  style="color:red;font-size: 10px;"><span>INSTRUCTORES DE LA FICHA: {{apr.ficha}}, APRENDIZ: {{apr.aprendiz}}, TITULACION: {{apr.titulacion}}</span>
 </th><th><span class="btn btn-warning" style="text-align: right;"  onclick="window.open('/login','centro')"><i class="fa fa-fast-backward" aria-hidden="true"></i></span>
</th>
</tr>
{%for data in datos%}
<tr>
    <td>
    {% with im = url_for('static', filename='images/dni/' ~ data['dninst'] ~ '.png') %}
<span style="cursor: pointer;margin: 10px;" onclick="window.open('/ev/2/{{data["dninst"]}}','centro')">
<img class="imgfull ovalo" src="{{ im }}"
     onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/dni/silueta.png') }}';"
     style="width: 40px; border: 1px solid black;">

{{data.nominst}} /eval/2/{{data["dninst"]}}
</span>
   </td> 
    
     {% endwith %}
     </tr>
{%endfor%}
</table>

</div>
<br><br>
{%else%}
<div class="alert alert-danger" role="alert">
<h1>NO HAY INSTRUCTORES PARA EVALUAR</h1>
<script>
    function Ir(){
        window.open("/login",'centro')
    }
    setTimeout("Ir()",5000)
</script>
</div>
{% endif%}
{% endif%}

{% if N==2 %}
<br><br>
<div class="sena d-flex justify-content-center align-items-center  mx-auto" style="width: 50%;padding-top: 20px;padding-left: 20px;padding-right: 20px;">
    <table class="table table-striped" style="width: 100%;">
        <th colspan="2" style="color:red;font-size: 10px;"><b>FICHA: {{session['apr'].ficha}}, APRENDIZ: {{session['apr'].aprendiz}}, TITULACION: {{session['apr'].titulacion}}, INSTRUCTOR A EVALUAR: {{nomi}}
        </th><th> <span class="btn btn-warning" style="text-align: right;"  onclick="window.open('/login','centro')"><i class="fa fa-fast-backward" aria-hidden="true"></i></span>
    </th>
        <tr>
            <td width=50% class="sena-sombra">
                PREGUNTAS A RESPONDER
            </td>
            <td width=50% class="sena-sombra">RESPUESTAS</td>
        </tr>
        <form action="/eval/3/{{datos[2]}}" method="post">
      
{%for data in preg%}

            <tr>
                <input type="hidden" name="P{{loop.index}}" value="{{data[1]}}">
                <td>{{data[1]}}</td>
                <td><select name="R{{loop.index}}" style="width: 100%;">
                    {%for n in data[3].split(',')%}
                    <option value="{{n}}">{{n}}</option>
                    {%endfor%}
                    
                </select></td>
            </tr>
{%endfor%}
<tr>
    <td colspan="2">
        <input type="hidden" name="N" value="3">
        <input type="hidden" name="F" value="{{datos[1]}}">
        <input type="hidden" name="I" value="{{datos[2]}}">
        <input type="hidden" name="A" value="{{datos[3]}}">
        <input type="hidden" name=conta value="{{hay}}">
        
        <input type="submit" class="btn btn-primary ovalo" style="width:50%;" value="ENVIAR">
        <!-- <button class="btn btn-warning ovalo" style="width:50%;" onclick="','centro')">ENVIAR</button> -->
        <button type="button" class="btn btn-warning ovalo" style="width:49%;" onclick="window.open('/login','centro')">CANCELAR</button>

    </td>
</tr>
        </table>
        <br>
             </form>
     </div>
    <br><br>
{% endif%}

{%endblock%}