{% extends "base.html" %}
{% block content %}
<!--https://fontawesome.com/v4/icons/-->
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    {%for op in opci%}
    <span class="btn btn-sm btn-outline-light ovalo" 
    onclick="window.open('{{op[3]}}','centro')">
    <!--<i class="material-icons " style="font-size:26px; color:tomato;border:none;">{{op[5]}}</i>--> 
    <i class="{{op[5]}}" style="font-size:26px; color:rgb(201, 187, 187);border:none;" aria-hidden="true"></i>
    &nbsp;<font color="red"><b>{{op[2]}}</b></font>
    </span>
    

    {%endfor%}
    
    {{mip}}
    <h3>EVALUACION DE INSTRUCTORES </h3>
  </form>
</nav>

{%endblock%}
