{% extends "base.html" %}
{% block content %}

<style>
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
  
}

.active {
  display: block;
  content: "\22c6";
}
</style>
</head>
<body>
<h4 class="sena-sombra">📁 MENU PRINCIPAL </h4>
<ul id="myUL">
  <li><span class="caret">CARGUE DE DATOS</span>
    <ul class="nested">
      <li>&#10133; <span style="cursor:pointer" onclick="window.open('/CargaInicial','centro')">CARGA MASIVA</span></li>
    </ul>  
      <li><span class="caret">RESULTADOS</span>
          <ul class="nested">
          <li><span style="cursor:pointer" onclick="window.open('/resp','centro')">&#10133; EXPORTAR LOS RESULTADOS DE LA ENCUESTA(CSV)</span></li>
        </ul>
 
        <li ><spand class="caret">AUDITORIA</spand>>
          <ul class="nested">
            <li><span style="cursor:pointer" onclick="window.open('/descargarlog','centro')">&#10133; DESCARGA LOG DE TRANSACCIONES</span></li>
           <li><span style="cursor:pointer" onclick="window.open('/verlog','centro')">&#10133; VER LOG DE TRANSACCIONES</span></li>
          </ul>
 
    </ul>
  </li>
</ul>

<script>
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
</script>
{% endblock content %}
