

<div  id="miDivd">
  <a onclick="achicame('contem','muno')"  ondblclick="achicams('contem','muno')" class="mano"><i id="muno" class="fas fa-chevron-circle-left" style='font-size:28px;color:red'></i></a>
</div>
<div id="contem" style="display:'none';" class="sena d-flex  mx-auto menud" >

</div>
<script>
   CargaHtml('contem','/menu1');
</script>
<script>
let recortadom = false;

function achicame(divId,iconoId) {
  const div = document.getElementById(divId);
  const icono = document.getElementById(iconoId);


    // alert("x")
    div.style.width = '400px';
    div.style.height = '60px';
    div.style.display = 'inline-block';
    icono.title='. click para ocultar menú'
    


    icono.classList.remove('fa-chevron-circle-right');
    icono.classList.add('fa-chevron-circle-left');
  } 



function achicams(divId,iconoId) {
  const div = document.getElementById(divId);
  const icono = document.getElementById(iconoId);

    div.style.width = '10px';
    div.style.height = '60px';
    div.style.display = 'none';
    icono.title='click para ver menú'
    
        icono.classList.remove('fa-chevron-circle-left');
    icono.classList.add('fa-chevron-circle-right');
  }


</script>
