{% extends "base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="contenido" class=" d-flex  mx-auto" style="padding-left: 10px; cursor:default; width:350px;position: absolute;top: 35px;left: 10px;height: auto;"></div>
<div id="contenido1" class=" d-flex  mx-auto" style="cursor:default; width:860px;position: absolute;top: 5px;left: 450px;height: auto;"></div>
<div id="contenido2" class=" d-flex  mx-auto" style="cursor:default; width:840px;position: absolute;top: 380px;left: 450px;height: auto;"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $('#contenido').load('/menu1');
$('#contenido1').load('/centro');
$('#contenido2').load('/footer');
</script>

{% endblock content %}
