{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-light bg-light sena-sombra">
  <form class="form-inline">
    <span class="btn btn-sm btn-outline-success sena-sombra" onclick="window.open('/','xxx')" 
    style="cursor: pointer; text-decoration: none;">INICIO</span>
    <span class="btn btn-sm btn-outline-success sena-sombra" onclick="window.open('/login','centro')" 
    style="cursor: pointer; text-decoration: none;">EVALUACION DE INSTRUCTORES</span>
    <span class="btn btn-sm btn-outline-success sena-sombra" onclick="window.open('/acerca','centro')" 
    style="cursor: pointer; text-decoration: none;">ACERCA DE..</span>
    {{mip}}
    <h3>EVALUACION DE INSTRUCTORES </h3>
  </form>
</nav>

{%endblock%}