{% extends "base.html" %}
{% block content %}
<center>
    <br><br>
    <div style="width:70%;overflow:auto" class="w3-w3-green mx-auto">
      <img loading="lazy" class="tabla" src="{{url_for('static',filename='images/CGMLTI.png')}}" style="border:true;width:95%;border-color:black;height:100px;"><br>
      <br>
    </div>
    
<br>
<div class="sena mx-auto" style="width:40%;">

<br><br>
<a href="/descargar" class="btn btn-primary mx-auto" style="width:100%;" >DESCARGAR RESPUESTAS</a><BR><BR>
<a href="/cargar" class="btn btn-primary mx-auto" style="width:100%;" >PLANTILLA DE CARGA</a>
<br><br>
</div>
<br><br><br>
{% endblock content %}