{% extends "base.html" %}
{% block content %}
{%set archi= url_for('static',filename='archivos/' ~ ver)%}
<div class="contenedor" style="float:right;padding-right: 50px;margin-bottom: 20px;">
<form id="search-form">
    <input type="text" id="search-input" placeholder="Buscar...">
    <button type="submit">Buscar</button>
</form>
</div><br>

<script>
    const searchInput = document.getElementById('search-input');
    const contentList = document.getElementById('content');

    searchInput.addEventListener('input', function() {
        const searchTerm = this.value.toLowerCase();
        const listItems = contentList.getElementsByTagName('li');

        for (let i = 0; i < listItems.length; i++) {
            const listItem = listItems[i];
            const listItemText = listItem.textContent.toLowerCase();

            if (listItemText.includes(searchTerm)) {
                listItem.style.display = ''; // Mostrar
            } else {
                listItem.style.display = 'none'; // Ocultar
            }
        }
    });
</script>
<div class=" sena1 mx-auto" style="border: 1px;border-color:  #0000; padding-left: 10px;width:65%;position: absolute;top: 45px;left: 430px;height: auto;">
    <h1 class="sena-sombra">LOG DE TRANSACCIONES</h1>
<iframe src="{{ver}}" style="width:100%;height: 250px;"></iframe>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="contenido" class="sena d-flex  mx-auto" style="padding-left: 10px; cursor:default; width:350px;position: absolute;top: 45px;left: 10px;height: auto;"></div>
<div id="contenido2" class=" d-flex  mx-auto" style="cursor:default; width:920px;position: absolute;top: 435px;left: 400px;height: auto;"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $('#contenido').load('/menu1');
  $('#contenido2').load('/footer');

</script>

{% endblock content %}