{% extends "base.html" %}
{% block content %}
{%set archi= url_for('static',filename='archivos/' ~ ver)%}
<div class="sena mx-auto" style="padding-left: 10px;width:65%;position: absolute;top: 15px;left: 400px;height: auto;">
    <h1>LOG DE TRANSACCIONES</h1>
<iframe src="{{ver}}" style="width:100%;height: 300px;"></iframe>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="contenido" class="sena d-flex  mx-auto" style="padding-left: 10px; cursor:default; width:350px;position: absolute;top: 15px;left: 10px;height: auto;"></div>
<div id="contenido2" class=" d-flex  mx-auto" style="cursor:default; width:920px;position: absolute;top: 420px;left: 400px;height: auto;"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $('#contenido').load('/menu1');
  $('#contenido2').load('/footer');

</script>

{% endblock content %}