{% extends "base.html" %}
{% block content %}
{%include 'lateral.html' %}
{%include 'menud.html' %}
<!-- <div id="contenido" class="sena d-flex  mx-auto" style="padding-left: 10px; cursor:default; width:380px;position: absolute;top: 5px;left: 10px;height: auto;"></div>
<script>
   CargaHtml('contenido','/menu1');
</script> -->

<br>
<div class="cpsi d-flex">
<div class="cpsi d-flex  mx-auto" style="width:60%">
  <div class="w3-card-4 w3-center" style="width:100%;max-width:100%">
    <header class="w3-container w3-blue">
      <h2 class="sena-sombra">INSTRUCTOR: {{datos['NOMINST']}}</h2>
      <h4 class="sena-sombra">Cambiar fotografia del instructor</h4>
    </header>
  
    {% set im = url_for('foto.static', filename='images/dni/' ~ session['usua'] ~ '.png') %}
  <span style="cursor: pointer;border-radius: 12px;">
    <img class="imgfull sena" src="{{ im }}" 
         style="width: 110px; border: 0; border-radius: 12px;" 
         onerror="this.onerror=null; this.src='{{ url_for('foto.static', filename='images/dni/silueta.png') }}';">
</span>

    <div class="w3-container w3-center">
         <form action = "/foto/success" method = "post" enctype="multipart/form-data"> 
            
          <input type="hidden" name="dni" value="{{datos[2]}}">  
          <hr>
        <input  type="file" name="file" />   
        <input class="btn btn-primary ovalobtn btn-success" type = "submit" value="Cargar archivo">  
        <button type="button" class="btn btn-warning ovalobtn"  onclick="window.open('/login','centro')">cancelar</button>
    </form>
     <hr>
    </div>
   
  </div>
</div>
</div>
<br>
</div>

        <script>
    const dialogo=document.getElementById("midialogo")
    // const botonabrir=document.getElementById("abrir")
    // const botoncerrar=document.getElementById("cerrar")
    dialogo.showModal();
    // setTimeout('Voy()',5000)
    // botonabrir.addEventListener('click',function(){
    //     dialogo.showModal();
    // })
    // botoncerrar.addEventListener('click',function(){
    //     dialogo.close();
    // })
    
            function Voy(){
            {% if regreso %}
            dialogo.close()
            window.open("{{regreso}}","centro")
            {% endif %}
            }
            // setTimeout('Voy()',5000)
        </script>

{% endblock content %}
