<input type="text" list="milista">
<datalist id="milista">
    <option value="Bogota">
    <option value="Medellin">
</datalist>
<dialog id="midialogo">
    <center><br>
                    <div class="sena w-50 col-4" style="text-align:center">
            <img src="static/images/NOTFOUND.png" width="400px" ><br>
                        <h1 class="sena-sombra"><font color=red  class="caret-sombra-red"><b>{{ msgito}}</font></h1>
                    </div>
                </center>
    <button id="cerrar">Cerrar</button>
</dialog>

<button id="abrir">Abrir</button>
<script>
    const dialogo=document.getElementById("midialogo")
    const botonabrir=document.getElementById("abrir")
    const botoncerrar=document.getElementById("cerrar")

    botonabrir.addEventListener('click',function(){
        dialogo.showModal();
    })
    botoncerrar.addEventListener('click',function(){
        dialogo.close();
    })
    
</script>