{% extends "base.html" %}
{% block content %}
<br>
{{datos[2]}}
<div class="sena1 d-flex  mx-auto" style="width:60%">
  <div class="w3-card-4 w3-center" style="width:100%;max-width:100%">
    <header class="w3-container w3-blue">
      <h2 class="sena-sombra">INSTRUCTOR: {{datos['NOMINST']}}</h2>
    </header>
  
    {% set im = url_for('foto.static', filename='images/dni/' ~ session['usua'] ~ '.png') %}
    <span style="cursor: pointer;margin: 10px;">
<img  src="{{ im }}" style="width:15%"
     onerror="this.onerror=null; this.src='{{ url_for('foto.static', filename='images/dni/silueta.png') }}';"
     style="width: 40px; border: 1px solid black;">

</span>
    <div class="w3-container w3-center">
         <form action = "/success" method = "post" enctype="multipart/form-data"> 
          <hr><h3 class="sena-sombra">Cambiar fotografia del instructor</h3>  
          <input type="hidden" name="dni" value="{{datos[2]}}">  
          <hr>
        <input  type="file" name="file" />   
        <input class="btn btn-primary ovalo" type = "submit" value="Cargar archivo">  
        <button type="button" class="btn btn-warning ovalo" style="width:10%;" onclick="window.open('/login','centro')">CANCELAR</button>
    </form>
     <hr>
    </div>
   
  </div>
</div>
<br>
{% endblock content %}
