{% extends "base.html" %}
{% block content %}
<div class="cpsi">
<h2 id="inicio">.</h2>
<div class="mx-auto">
    <a id="b1" type=button class="boton-flotante" href="#inicio"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
    <a id="b2" class="btn btn-danger ovalobtn" href="/menuadmin"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;REGRESAR</a>
    <div class="divi1   mx-auto" style="width:60%;text-align:center;">
    <table class="table table-striped">
        <tr>
            <td>
             <pre>{{ver}}</pre>    
            </td>
        </tr>
    </table>
  
</div>
</div>
<div id="contenido" class="sena d-flex  mx-auto" style="padding-left: 10px; cursor:default; width:380px;position: absolute;top: 35px;left: 10px;height: auto;">

<script>
CargaHtml('contenido','/admin/menu1');
</script>


 
{% endblock content %}
