
<style>
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #D4D4D4;
	font-family: 'Open sans';
}

.wrap{
	width: 800px;
	max-width: 90%;
	margin: 30px auto;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}
</style>
<body>
    <div class="wrap">
    <ul class="tabs">
            <li><a href="#" class="tab-text">Inicio</a></li>
            <li><a href="#" class="tab-text">Nosotros</a></li>
            <li><a href="#" class="tab-text">Servicios</a></li>
            <li><a href="#" class="tab-text">Blog</a></li>
    </ul>
    <div class="secciones">
        <article id="tab1">
            <h1>Inicio</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, natus eveniet! Provident aspernatur odit veritatis pariatur. Animi et, fugit neque facere error molestias ipsam aliquid, atque esse excepturi temporibus doloribus.
            Quidem voluptatibus dolorum debitis ut quod est unde nam veniam! Harum explicabo, labore, cumque repellendus animi nihil blanditiis facere necessitatibus pariatur est dignissimos, quam minus unde placeat nam aut esse?
            Enim tempore repellendus voluptates sed cupiditate et beatae iusto modi quo eaque inventore, perferendis aut ducimus vero sunt consequatur possimus doloribus sapiente deleniti maiores voluptatem quas similique iste odio? Vel.
            Nulla esse voluptatum nihil culpa dolorem vel neque facilis rerum quaerat deserunt a dignissimos recusandae facere reiciendis, pariatur amet at similique! Distinctio error consectetur inventore officia aspernatur commodi, quae iusto?
            Quia dolore omnis accusamus at quasi dicta, repudiandae facilis. Perferendis eligendi eum recusandae deserunt, in doloremque, error consequatur nam quam voluptate dolores a reprehenderit. Adipisci magni dolores unde dolorum non.</p>        </article>
        <article id="tab2">
            <h1>Nosotros</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, deserunt! Nemo veniam qui quod, doloribus in sequi minus omnis sapiente, neque laboriosam incidunt cupiditate totam, temporibus illum impedit itaque aliquam.
            </p>
        </article>
    
        <article id="tab3">
            <h1>Servicios</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, natus eveniet! Provident aspernatur odit veritatis pariatur. Animi et, fugit neque facere error molestias ipsam aliquid, atque esse excepturi temporibus doloribus.
            Quidem voluptatibus dolorum debitis ut quod est unde nam veniam! Harum explicabo, labore, cumque repellendus animi nihil blanditiis facere necessitatibus pariatur est dignissimos, quam minus unde placeat nam aut esse?
            Enim tempore repellendus voluptates sed cupiditate et beatae iusto modi quo eaque inventore, perferendis aut ducimus vero sunt consequatur possimus doloribus sapiente deleniti maiores voluptatem quas similique iste odio? Vel.
            Nulla esse voluptatum nihil culpa dolorem vel neque facilis rerum quaerat deserunt a dignissimos recusandae facere reiciendis, pariatur amet at similique! Distinctio error consectetur inventore officia aspernatur commodi, quae iusto?
            Quia dolore omnis accusamus at quasi dicta, repudiandae facilis. Perferendis eligendi eum recusandae deserunt, in doloremque, error consequatur nam quam voluptate dolores a reprehenderit. Adipisci magni dolores unde dolorum non.
        </p>
    </article>
        <article id="tab4">
            <h1>Blog</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, natus eveniet! Provident aspernatur odit veritatis pariatur. Animi et, fugit neque facere error molestias ipsam aliquid, atque esse excepturi temporibus doloribus.
            Quidem voluptatibus dolorum debitis ut quod est unde nam veniam! Harum explicabo, labore, cumque repellendus animi nihil blanditiis facere necessitatibus pariatur est dignissimos, quam minus unde placeat nam aut esse?
            Enim tempore repellendus voluptates sed cupiditate et beatae iusto modi quo eaque inventore, perferendis aut ducimus vero sunt consequatur possimus doloribus sapiente deleniti maiores voluptatem quas similique iste odio? Vel.
            Nulla esse voluptatum nihil culpa dolorem vel neque facilis rerum quaerat deserunt a dignissimos recusandae facere reiciendis, pariatur amet at similique! Distinctio error consectetur inventore officia aspernatur commodi, quae iusto?
            Quia dolore omnis accusamus at quasi dicta, repudiandae facilis. Perferendis eligendi eum recusandae deserunt, in doloremque, error consequatur nam quam voluptate dolores a reprehenderit. Adipisci magni dolores unde dolorum non.
        </p>
    </article>
    </div>
    </div>

</body>
</html>