{% extends "base.html" %}
{% block content %} 


{% if N==1 %}

{% if datos|length>0%}
<br>

<div class="cpsi " style="display: flex; justify-content: center; width: 5cm;margin: auto;">
<table class="table table-striped ">
<th  style="color:black;font-size: 12px;"><span class="sena-sombra">INSTRUCTORES DE LA FICHA: {{apr.FICHA}}, APRENDIZ: {{apr.NOMBRE}}, TITULACION: {{apr.TITULACION}}</span>
 </th>
 <!-- <th><span class="boton-flotante" style="text-align: right;"  onclick="window.open('/login','centro')"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span> -->
<!-- </th>   -->
</tr>
{%for data in datos%}
<tr>
    <td colspan="2">
    {% with im = url_for('foto.static', filename='images/dni/' ~ data['dninst'] ~ '.png') %}
<span style="cursor: pointer;margin: 10px;" onclick="window.open('/evalu/2/{{data.dninst}}/{{data.ficha}}/{{data.dniap}}','marco3','width=100px')">
<img class="imgfull" src="{{ im }}"
     onerror="this.onerror=null; this.src='{{ url_for('foto.static', filename='images/dni/silueta.png') }}';"
     style="width: 40px; border: 1px solid black;">

<x class="sena-sombra"> {{data.nominst}}</x>
</span>
   </td> 
    
     {% endwith %}
     </tr>
     <td colspan="2">&nbsp;</td>
    </tr>
{%endfor%}
</table>
<br><br><br><br><br>
</div>


{%else%}
<div class="alert alert-danger" role="alert">
<h1>NO HAY INSTRUCTORES PARA EVALUAR</h1>
<script>
    function Ir(){
        window.open("/login",'_self')
    }
    // setTimeout("Ir()",5000)
    window.close()
</script>
</div>
{% endif%}
{% endif%}

{% if N==2 %}
<div class="cpsi " style="padding-top: 2px; width: auto;padding: 15px;padding-right: 20px;">
    <table class=" table table-striped" style="width: auto;">
        <th colspan="3" ><h4 style="text-align:center;font-family: 'Caprasimo', serif;">RESPUESTAS ENCUESTA</h4></th></tR>
        <th colspan="3"  style="color:black;font-size: 10px;font-family: 'Caprasimo', serif;"><b>FICHA: {{apr.FICHA}}
            , APRENDIZ: {{session['datos'].NOMBRE}},TITULACION: {{session['datos'].TITULACION}},
            INSTRUCTOR A EVALUAR:{{nomi}}
        </th>
        <!-- <th> <span class=" boton-flotante" style="text-align: right;"  onclick="javascript:history.back()"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span> </th>-->
        </tr>
        <tr>
            <td width=80% style="font-family: 'Caprasimo', serif;">
                PREGUNTAS A RESPONDER
            </td>
            <td width=50% style="font-family: 'Caprasimo', serif;">RESPUESTAS</td>
        </tr>
        <form action="/evalu/3/{{datos[2]}}"  target="_self" method="post">     

            {%for data in preg%}

            <tr>
                <input type="hidden" name="P{{loop.index}}" value="{{data.DESCRIPCION}}">
                <td style="padding-left:20px;text-align: justify;">{{data.DESCRIPCION}}</td>
                <td><select name="R{{loop.index}}" style="width: 100%;">
                    {%for n in data.VALORES.split(',')%}
                    <option value="{{n}}">{{n}}</option>
                    {%endfor%}
                    
                </select></td>
            </tr>
          
{%endfor%}
<tr>
    <td colspan="2">
        <input type="hidden" name="N" value="3">
        <input type="hidden" name="F" value="{{datos[1]}}">
        <input type="hidden" name="I" value="{{datos[2]}}">
        <input type="hidden" name="A" value="{{datos[3]}}">
        <input type="hidden" name=conta value="{{preg | length}}">
        
        <input type="submit" class="btn btn-primary ovalobtn" style="width:50%;" value="ENVIAR">
        <!-- <button class="btn btn-warning ovalo" style="width:50%;" onclick="','centro')">ENVIAR</button> -->
        <button type="button" class="btn btn-warning ovalobtn" style="width:39%;" onclick="window.close()"><b>CANCELAR</b></button>

    </td>
</tr>
        </table>
        <br>
             </form>
     </div>
    <br><br>
{% endif%}

{%endblock%}