{% extends "base.html" %}
{% block content %}
{% set menu = session['menu']%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h4 class="sena-sombra"><i class='fas fa-layer-group  '></i>&nbsp;MENU</h4>
<div class="cpsi">
      <button onclick='CargaHtml("marco3","/centro")' class="btn btn-primary ovalbtn"  style="width: 100%;text-align: left;"><i class='fas fa-user-graduate'></i>&nbsp;DATOS PERSONALES</button> 
      <button onclick='CargaHtml("marco3","/encuesta")' class="btn btn-primary ovalbtn" style="width: 100%;text-align: left;"><i class='fas fa-edit'></i>&nbsp;REALIZAR ENCUESTA</button> 
      <button onclick='CargaHtml("marco3","/centro")' class="btn btn-primary ovalbtn" style="width: 100%;text-align: left;"><i class='fas fa-user-tie'></i>&nbsp;PORTAFOLIO DE EVIDENCIAS</button> 
      <button onclick='CargaHtml("marco3","/centro")' class="btn btn-primary ovalbtn" style="width: 100%;text-align: left;"><i class='far fa-calendar-alt'></i>&nbsp;MI HORARIO</button> 
   
</div>


{% endblock content %}

